<p>Thank you.</p>
<p>
You are a registered user at "{{ settings.name }}" with e-mail {{ parameters.body.values.email }}.
</p>
<p>
{% set redirect = {"redirect": parameters.query.redirect_after_activate} %}
Activate your profile via {{ settings.api_path }}user/activate_link/{{ result.item.hash }}?project={{ parameters.query.project }}&{{ redirect|url_encode }}
</p>