<p>Thank you.</p>
<p>
You asked for a password reset link for "{{ settings.site.name }}". If it was not you that asked then you can ignore this e-mail.
</p>
<p>
{% set redirect = {"redirect": parameters.get.redirect_after_reset} %}
Reset your password via {{ settings.api_path }}/user/reset_link/{{ result.hash }}?project={{ parameters.get.project }}&temp_token={{ result.temp_token }}&{{ redirect|url_encode }}
</p>